.mainMenu {
    > a {
        text-decoration: none;
    }
}

.secondaryMenu {
    > a {
        text-decoration: none;
    }
}

.imageDiv {
    background-color: silver;
    background-image: url("./img/test.jpeg");
    background-size: cover;
    width: 20px;
    height: 20px;
}

.AppRoot {
    &.phone {
        > .header {
            width: 100%;
            z-index: 10;
        }

        > .left {
            position: fixed;
            z-index: 100;

            > div {
                min-height: 100vh;
            }

            &.close {
                //display: none;
                left: -100px;
            }

            box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
        }

        > .centre {
            width: 100%;
        }
    }

    > .header {
        //box-shadow: none;
        position: fixed;

        > .progressbar {
            position: absolute;
            width: 100%;
            top: 0;
        }
    }

    > .left {
        position: fixed;
        z-index: 100;

        > div {
            min-height: 100vh;
        }

        &.open {
            z-index: 1300;
        }

        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    }

    > .centre {
        display: block;
        padding: 0;
    }

    &.desktop, &.tablet {
        display: block;

        &.drawerOpen {
            > .centre {
                margin-left: 240px;
                width: calc(100% - 240px);
            }
        }

        > .centre {
            margin-left: 72px;
            width: calc(100% - 72px);
        }
    }

    .Page {
        padding: 1rem;
    }

    .FillSpacePage {
        padding: 0;
        height: calc( 100vh - 56px);
    }

    .mapDiv {
        height: 100%;
        width: 100%;
    }
}

.ListItem {
    &.selected > div {
        background-color: rgba(0, 0, 0, 0.14);
    }
}

@media (min-width: 600px) {
    .AppRoot {
        .FillSpacePage {
            padding: 0;
            height: calc( 100vh - 64px);
        }
    }
}
